{% extends "base.html" %} {% block title %}Create Recipe · NutriMetrics{% endblock %}

{% block inline_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='create-recipe.css')}}">
{% endblock %}

{% block content %}
<h1 align="center">NutriMetrics Create recipe</h1>
<form method="POST">
    <div input-group mb-3>
        <label for="recipe-name" class="form-label">Name your recipe</label>
        <input name="recipe-name" id="recipe-name" type="text" class="form-control" placeholder="'My breakfast granola'" aria-label="Recipe name"></input>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-description" class="form-label">Describe your recipe</label>
        <textarea name="recipe-description" id="recipe-description" class="form-control" placeholder="'My favourite weekday fruit and yoghurt granola, goes well with my morning coffee'" aria-label="Recipe description"></textarea>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-dietary-restrictions" class="form-label">Dietary restrictions</label>
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-secondary" onclick="this.button('toggle')">
                <input name="recipe-dietary-restrictions" value="none" autocomplete="off" type="radio" checked> None 
            </label>
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="vegan" autocomplete="off" type="radio"> Vegan 
            </label> 
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="vegetarian" autocomplete="off" type="radio"> Vegetarian 
            </label> 
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="pescatarian" autocomplete="off" type="radio"> Pescatarian 
            </label>
        </div>
    </div>
    
    <br/>
    <h3 align="center">Ingredients</h3>
    <br/>
    <p class="text-center elementToFadeIn" id="emptyListMessage">Ingredients list is empty. Add an ingredient using the dropdown below</p>
    <ul name="recipe-ingredients" id="recipe-ingredients" class="list-group list-group-flush"></ul>
    <br/>
    <h4 align="center">Add ingredients</h4>
    <!-- <div class="input-group">
        <input type="button" value="&plus;" class="btn btn-outline-secondary" id="add_ingredient"/>
    </div> -->

    <div class="d-flex flex-column" id="searchListWrapper">
        <input type="text" class="form-control" placeholder="Search..." id="searchInput">
        <ul class="list-group" id="foodsList" style="max-height: 25vh; overflow-y: scroll;">
            {% for food in foods %}
            <li class="list-group-item m-0 p-0" style="display: none;">
                <button type="button" class="list-group-item list-group-item-action" style="border-color: transparent;" id="{{food.fdc_id}}" value="{{food.name}}" onclick="clickListOption(this)">{{food.name}}</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br/>
    <div align="center" >
        <button type="submit" class="btn btn-primary">Add recipe</button>
    </div>
</form>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='create-recipe.js')}}"
></script>
{% endblock %}