{% macro sidebar(user_name) -%}
<div class="side-bar d-flex flex-column flex-shrink-0 text-white bg-dark">
    <div class="features-item logo-name-wrapper">
        <div class="logo-name align-items-center text-white">
            <svg class="logo" id="sidebar-logo" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path d="M34 24L24 34C24 34 15.0002 25 14 24C12.9998 23 12.5 21 14 19C15.5 17 18.5 17 20 18C21.5001 19 22.0001 20 24 20C26 20 26.5001 19 28 18C29.5 17 32.5003 17 34.0003 19C35.5003 21 35 23 34 24Z" 
                fill="#00d959" stroke="#00d959" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="fs-4 logo-name__text">NutriMetrics</span>
        </div>
        <button class="logo-name__button btn btn-toggle text-white" id="sidebar-collapse-button"  onclick="toggleSidebar()">
            <i class="logo-name__icon bi bi-list"></i>
        </button>
    </div>
    
    <hr>
    <ul class="features-list nav nav-pills flex-column mb-auto">

        <li class="features-item nav-item d-grid mt-1">
            <a type="button" href="/dashboard" class="features-item-btn btn btn-toggle nav-link text-white">
                <div class="features-item-icon">
                    <i class="bi bi-ui-checks-grid"></i>
                </div>
                <span class="features-item-text">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>

        <li class="features-item nav-item d-grid mt-1">
            <a type="button" href="/trends" class="features-item-btn btn btn-toggle nav-link text-white">
                <div class="features-item-icon">
                    <i class="bi bi-bar-chart-line-fill"></i>
                </div>
                <span class="features-item-text">Trends</span>
            </a>
            <span class="tooltip">Trends</span>
        </li>

        <div class="features-item-dropdown">
            <li class="features-item nav-item d-grid mt-1">
                <button id="yoinkysploinky" class="features-item-btn features-item-btn-svg btn btn-toggle rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#foods-collapse" aria-expanded="true">
                    <div class="features-item-icon-svg">
                        <svg
                            class="text-white" xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 448 512">
                            <path fill="#FFFFFF" stroke="#FFFFFF" d="M224 112c-8.8 0-16-7.2-16-16l0-16c0-44.2 35.8-80 80-80l16 0c8.8 0 16 7.2 16 16l0 16c0 44.2-35.8 80-80 80l-16 0zM0 288c0-76.3 35.7-160 112-160c27.3 0 59.7 10.3 82.7 19.3c18.8 7.3 39.9 7.3 58.7 0c22.9-8.9 55.4-19.3 82.7-19.3c76.3 0 112 83.7 112 160c0 128-80 224-160 224c-16.5 0-38.1-6.6-51.5-11.3c-8.1-2.8-16.9-2.8-25 0c-13.4 4.7-35 11.3-51.5 11.3C80 512 0 416 0 288z"/>
                        </svg>
                    </div>
                    <span class="features-item-text" style="vertical-align: middle;">Foods</span>
                </button>
                <span class="tooltip-dropdown">Inbox</span>
                <!-- <div class="collapse" id="foods-collapse-collapsed">
                    <ul class="features-list btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="features-item">
                            <a href="#" class="d-grid rounded text-white">
                                <div class="features-item-icon">
                                    <i class="bi bi-search"></i>
                                </div>
                            </a>
                            <span class="tooltip">Search foods</span>
                        </li>
                    </ul>
                </div> -->
            </li>
            <div class="features-item-dropdown collapse" id="foods-collapse-collapsed">
                <li class="features-item">
                    <a type="button" href="/trends" class="features-item-btn btn btn-toggle nav-link text-white">
                        <div class="features-item-icon">
                            <i class="bi bi-search"></i>
                        </div>
                    </a>
                    <span class="tooltip">Search foods</span>
                </li>
                <li class="features-item">
                    <a type="button" href="/trends" class="features-item-btn btn btn-toggle nav-link text-white">
                        <div class="features-item-icon">
                            <i class="bi bi-basket-fill"></i>
                        </div>
                    </a>
                    <span class="tooltip">Grocery list</span>
                </li>
                <li class="features-item">
                    <a type="button" href="/trends" class="features-item-btn btn btn-toggle nav-link text-white">
                        <div class="features-item-icon">
                            <i class="bi bi-stars"></i>
                        </div>
                    </a>
                    <span class="tooltip">Ask AI</span>
                </li>
            </div>
        </div>
        <div class="features-item-dropdown collapse" id="foods-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="d-grid rounded text-white">Search foods</a></li>
                <li><a href="/my-recipes" class="d-grid rounded text-white">Grocery list</a></li>
                <li><a href="/create-recipe" class="d-grid rounded text-white">Ask AI</a></li>
            </ul>
        </div>
        
        

        <li class="features-item nav-item d-grid mt-1">
            <a type="button" href="/my-recipes" class="features-item-btn btn btn-toggle nav-link text-white">
                <div class="features-item-icon">
                    <i class="bi bi-journals"></i>
                </div>
                <span class="features-item-text">My Recipes</span>
            </a>
            <span class="tooltip">My Recipes</span>
        </li>
        
        <li class="border-top my-3 "></li>

        <li class="features-item nav-item d-grid mt-1">
            <a type="button" href="/create-recipe" class="features-item-btn btn btn-toggle nav-link text-white">
                <div class="features-item-icon">
                    <i class="bi bi-plus-circle"></i>
                </div>
                <span class="features-item-text">New Recipe</span>
            </a>
            <span class="tooltip">New Recipe</span>
        </li>

    </ul>
    <ul class="features-list nav nav-pills flex-column">
        <li class="features-item nav-item d-grid mt-1">
            <a type="button" href="/settings" class="features-item-btn features-item-button btn btn-toggle nav-link text-white">
                <div class="features-item-icon">
                    <i class="bi bi-gear-fill"></i>
                </div>
                <span class="features-item-text">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/dmor1928.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong class="features-item-text">{{user_name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </ul>
</div>
{%- endmacro %}