{% extends "base.html" %} {% block title %}{{recipe.name}} · NutriMetrics{% endblock %}

{% block inline_style%}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->

<link rel="stylesheet" href="{{ url_for('static', filename='view-recipe.css')}}"/>

<script type="text/javascript">
    var recipe_ingredients_data = JSON.parse({{recipe_ingredients_data_json|tojson}});
    var total_recipe_nutrition = JSON.parse({{total_recipe_nutrition_json|tojson}});
    var user_rda = JSON.parse({{user_rda_json|tojson}});
    var total_recipe_user_rda_percent = JSON.parse({{total_recipe_user_rda_percent_json|tojson}});
    var nutrient_units = JSON.parse({{nutrient_units_json|tojson}});
 </script>
 <script src="{{ url_for('static', filename='view-recipe.js')}}"></script>

{% endblock %}

{% block content %}
{% from 'progress-bar.html' import progress_bar %}

<h1 class="display-2" align="center" style="text-transform: capitalize;">{{recipe.name}}</h1>
<br/>
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-4">
            <h2>Ingredients list</h2>
            <table id="ingredients-table" class="table table-striped" id="ingredients-table">
                <thead>
                    <th class="col-3" scope="col">Amount (g)</th>
                    <th scope="col">Ingredient</th>
                </thead>
                <tbody>
                    {% for ingredient in recipe_ingredients %}
                    <tr id="{{ingredient.food_id}}-row" onClick="clickRow(this.id)">
                        <td id="{{ingredient.food_id}}-ingredientAmount">{{toInteger(ingredient.amount)}}</td>
                        <td>{{ingredient.food_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Description</h3>
            <p>{{recipe.description}}</p>
        </div>
        <div id="nutrient-breakdown" class="col">
            <h2>Nutritional breakdown</h2>
            <div class="row justify-content-center d-flex"> <!-- 3 top macro nutrients -->
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3  justify-content-center d-flex height: 90%;">
                    <div class="my-4 position-relative">
                        <div class="justify-content-center d-flex position-absolute w-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                            <h5 class="fw-bold" style="line-height: 4em">Calories</h5>
                            <div style="position: absolute; top: 65%;">
                                <h4 class="fw-bold position-relative" id="energy-nutrientAmount">{{total_recipe_nutrition['energy']}}</h4>
                            </div>
                        </div>
                        <div class="container position-relative" style="display: flex; justify-content: center; height: 90%; ">
                            {% set macro_sum = namespace(value=0) %}
                            {% for macro_mini in [[90, 'red'], [180, 'blue'], [90, 'green']]%}
                            <div class="pie position-absolute" data-pie='{ "number": false, "speed": "120", "percent": "{{(macro_mini[0] - 2) / 3.6 }}", "inverse": "true", "textPosition": "20%", "fontWeight":"bold", "size":"120", "rotation": "{{macro_sum.value}}", "colorSlice":"{{macro_mini[1]}}", "colorCircle":"#FFFFFF00"}'></div>
                            <!-- if set "round": "true" also set  "percent": "{{(macro_mini[0] - 16) / 3.6 }}" -->
                            {% set macro_sum.value = macro_sum.value - macro_mini[0]%}
                            {% endfor%}
                        </div>
                    </div>
                </div>
                {% for macro in [['total_dietary_fibre', 'Fibre'], ['total_protein', 'Protein']]%}

                {% if 0 <= total_recipe_user_rda_percent[macro[0]]|float < 30 %} 
                {% set bar_colour = "red" %} 
                {% elif 30 <= total_recipe_user_rda_percent[macro[0]] < 100 %} 
                {% set bar_colour = "#ffcf00" %} 
                {% elif total_recipe_user_rda_percent[macro[0]] >= 100 %} 
                {% set bar_colour = "green" %} 
                {% else %}
                {% set bar_colour = "black" %}
                {% endif %}
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-content-center d-flex height: 90%;">
                    <div class="my-4 position-relative">
                        <div class="justify-content-center d-flex position-absolute w-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                            <h5 class="fw-bold" style="line-height: 4em">{{macro[1]}}</h5>
                        </div>
                        <div class="container position-relative" style="display: flex; justify-content: center; ">
                            <div class="pie" data-pie='{ "percent": {{total_recipe_user_rda_percent[macro[0]]}}, "speed": "120", "textPosition": "20%", "fontWeight":"bold", "size":"120", "rotation": "0", "inverse": "true", "colorSlice":"{{bar_colour}}", "round":"true", "strokeBottom": 5, "colorCircle":"#f8f9fa" }'></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div class="row">
                <div class="position-relative">
                    <div class="form-check form-switch position-absolute end-0 bottom-0">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckShowRDA" onchange="toggleRDA(this)">
                        <label class="form-check-label" for="flexSwitchCheckShowRDA">Show RDA</label>
                    </div>
                </div>
            </div>
            <div class="row small">

                <div class="col"> <!-- Left nutrition column -->

                    <div class="p-2 my-2 bg-light">
                        <h5>Water</h5>

                        <div class="row">
                            <div class="col-5">
                                Water
                            </div>
                            <div class="col-2" style="white-space: nowrap;">
                                <span id="water-nutrientAmount">{{total_recipe_nutrition['water']}}</span>
                                {{nutrient_units['water']}}
                            </div>
                            <div class="col">
                                {{ progress_bar('water', total_recipe_user_rda_percent['water']) }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="p-2 my-2 bg-light">
                        <h5>Carbohydrates</h5>

                        <div class="row">
                            <div class="col-5"> Carbohydrates </div>
                            <div class="col-2" style="white-space: nowrap;">
                                <span id="carbohydrate_total-nutrientAmount">{{total_recipe_nutrition['carbohydrate_total']}}</span>
                                {{nutrient_units['carbohydrate_total']}}
                            </div>
                            <div class="col">
                                {{ progress_bar('carbohydrate_total', total_recipe_user_rda_percent['carbohydrate_total']) }}
                            </div>
                        </div>

                        {% for carb in [['total_dietary_fibre', 'Fibre'], ['total_sugar', 'Sugar']]%}
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">{{carb[1]}}</div>
                            <div class="col-2 small">
                                <span id="{{carb[0]}}-nutrientAmount">{{total_recipe_nutrition[carb[0]]}}</span>
                                {{nutrient_units[carb[0]]}}
                            </div>
                            <div class="col">
                                {{ progress_bar(carb[0], total_recipe_user_rda_percent[carb[0]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row" style="white-space: nowrap;">
                            <div class="col-2"></div>
                            <div class="col-3">Added sugar</div>
                            <div class="col-2 small">
                                <span id="added_sugars-nutrientAmount">{{total_recipe_nutrition['added_sugars']}}</span>
                                {{nutrient_units['added_sugars']}}
                            </div>
                            <div class="col">
                                {{ progress_bar('added_sugars', total_recipe_user_rda_percent['added_sugars'], bar_colour) }}
                            </div>
                        </div>
                    </div> <!-- NEW DIV -->
                    
                    
                    <div class="p-2 my-2 bg-light">
                        <h5>Lipids</h5>

                        <div class="row">
                            <div class="col-5"> Total fat </div>
                            <div class="col-2">
                                <span id="total_fat-nutrientAmount">{{total_recipe_nutrition['total_fat']}}</span>{{nutrient_units['total_fat']}}
                            </div>
    
                            {% if 0 <= total_recipe_user_rda_percent['total_fat']|float < 50 %} 
                            {% set bar_colour = "bg-danger" %} 
                            {% elif 50 <= total_recipe_user_rda_percent['total_fat'] < 100 %} 
                            {% set bar_colour = "bg-warning" %} 
                            {% elif total_recipe_user_rda_percent['total_fat'] >= 100 %} 
                            {% set bar_colour = "bg-success" %} 
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}
                            
                            <div class="col">
                                {{ progress_bar('total_fat', total_recipe_user_rda_percent['total_fat'], bar_colour) }}
                            </div>
                        </div>

                        {% for fat in [['Monounsaturated', 'total_monounsaturated'], ['Polyunsaturated', 'total_polyunsaturated']]%}
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4"> {{fat[0]}} </div>
                            <div class="col-2 small">
                                <span id="{{fat[1]}}-nutrientAmount">{{total_recipe_nutrition[fat[1]]}}</span>{{nutrient_units[fat[1]]}}
                            </div>

                            {% if 0 <= total_recipe_user_rda_percent['total_fat']|float < 50 %} 
                            {% set bar_colour="bg-danger" %} 
                            {% elif 50<=total_recipe_user_rda_percent['total_fat'] < 100 %} 
                            {% set bar_colour="bg-warning" %} 
                            {% elif total_recipe_user_rda_percent['total_fat']>= 100 %}
                            {% set bar_colour = "bg-success" %}
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}

                            <div class="col">
                                {{ progress_bar(fat[1], total_recipe_user_rda_percent[fat[1]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                
                        {% for poly_fats in [['Omega-3', 'omega_3'],['Omega-6', 'omega_6']]%}
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3"> {{poly_fats[0]}} </div>
                            <div class="col-2 small">
                                <span id="{{poly_fats[1]}}-nutrientAmount">{{total_recipe_nutrition[poly_fats[1]]}}</span>{{nutrient_units[poly_fats[1]]}}
                            </div>

                            {% if 0 <= total_recipe_user_rda_percent[poly_fats[1]]|float < 50 %} 
                            {% set bar_colour="bg-danger" %} {% elif 50<=total_recipe_user_rda_percent[poly_fats[1]] < 100 %} 
                            {% set bar_colour="bg-warning" %} 
                            {% elif total_recipe_user_rda_percent[poly_fats[1]]>= 100 %}
                            {% set bar_colour = "bg-success" %}
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}

                            <div class="col">
                                {{ progress_bar(poly_fats[1], total_recipe_user_rda_percent[poly_fats[1]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}

                        {% for fat in [['Saturated', 'total_saturated_fat'], ['Trans', 'trans_fat'], ['Cholesterol', 'cholesterol']]%}
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4"> {{fat[0]}} </div>
                            <div class="col-2 small">
                                <span id="{{fat[1]}}-nutrientAmount">{{total_recipe_nutrition[fat[1]]}}</span>{{nutrient_units[fat[1]]}}
                            </div>

                            {% if 0 <= total_recipe_user_rda_percent[fat[1]]|float < 50 %} 
                            {% set bar_colour="bg-danger" %} 
                            {% elif 50<=total_recipe_user_rda_percent[fat[1]] < 100 %} 
                            {% set bar_colour="bg-warning" %} 
                            {% elif total_recipe_user_rda_percent[fat[1]]>= 100 %}
                            {% set bar_colour = "bg-success" %}
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}
                            
                            <div class="col">
                                {{ progress_bar(fat[1], total_recipe_user_rda_percent[fat[1]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
    
                    <div class="p-2 my-2 bg-light">

                        <h5>Protein</h5>

                        <div class="row">

                            <div class="col-5"> Protein </div>

                            <div class="col-2" style="white-space: nowrap;">
                                <span id="total_protein-nutrientAmount">{{total_recipe_nutrition['total_protein']}}</span>
                                {{nutrient_units['total_protein']}}
                            </div>

                            {% if 0 <= total_recipe_user_rda_percent['total_protein']|float < 50 %} 
                            {% set bar_colour="bg-danger" %} 
                            {% elif 50<=total_recipe_user_rda_percent['total_protein'] < 100 %} 
                            {% set bar_colour="bg-warning" %} 
                            {% elif total_recipe_user_rda_percent['total_protein']>= 100 %}
                            {% set bar_colour = "bg-success" %}
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}

                            <div class="col">
                                {{ progress_bar('total_protein', total_recipe_user_rda_percent['total_protein'], bar_colour) }}
                            </div>
                        </div>
                    </div>
    
                    <div class="p-2 my-2 bg-light">
                        <h5>Essential amino acids</h5>
                        {% for amino in [['phenylalanine_and_tyrosine', 'Phenylalanine & Tyrosine'], ['valine', 'Valine'], ['threonine', 'Threonine'], ['tryptophan', 'Tryptophan'], 
                        ['methionine_and_cysteine', 'Methionine & Cysteine'], ['leucine', 'Leucine'], ['isoleucine', 'Isoleucine'], ['lysine', 'Lysine'], ['histidine', 'Histidine']]%}
                        
                        {% if amino[0] in ['phenylalanine_and_tyrosine', 'methionine_and_cysteine'] %}
                        {% set size_class='small'%}
                        {% else %}
                        {% set size_class=''%}
                        {% endif %}
                        <div class="row">
                            <div class="col-5 {{size_class}}" style="white-space: nowrap;"> {{amino[1]}} </div>
                            <div class="col-2 small" style="white-space: nowrap;">
                                <span id="{{amino[0]}}-nutrientAmount">{{total_recipe_nutrition[amino[0]]}}</span>
                                {{nutrient_units[amino[0]]}}
                            </div>

                            {% if 0 <= total_recipe_user_rda_percent[amino[0]]|float < 50 %} 
                            {% set bar_colour="bg-danger" %} {% elif 50<=total_recipe_user_rda_percent[amino[0]] < 100 %} 
                            {% set bar_colour="bg-warning" %} 
                            {% elif total_recipe_user_rda_percent[amino[0]]>= 100 %}
                            {% set bar_colour = "bg-success" %}
                            {% else %}
                            {% set bar_colour = "bg-secondary" %}
                            {% endif %}

                            <div class="col">
                                {{ progress_bar(amino[0], total_recipe_user_rda_percent[amino[0]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
    
                    <div class="p-2 my-2 bg-light">
                        <h5>Phytochemicals</h5>
                        {% for phytochemical in [['lycopene', 'Lycopene'], ['lutein_zeaxanthin', 'Lutein & Zeaxanthin'], ['quercetin', 'Quercetin'], ['flavonoids', 'Flavonoids'], ['myricetin', 'Myricetin']]%}

                        {% if 0 <= total_recipe_user_rda_percent[phytochemical[0]]|float < 50 %} {% set bar_colour="bg-danger" %} 
                        {% elif 50<=total_recipe_user_rda_percent[phytochemical[0]] < 100 %} 
                        {% set bar_colour="bg-warning" %} 
                        {% elif total_recipe_user_rda_percent[phytochemical[0]]>= 100 %}
                        {% set bar_colour = "bg-success" %}
                        {% else %}
                        {% set bar_colour = "bg-secondary" %}
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-5 {{size_class}}" style="white-space: nowrap">
                                {{phytochemical[1]}}
                            </div>
                            <div class="col-2 small" style="white-space: nowrap">
                                <span id="{{phytochemical[0]}}-nutrientAmount">{{total_recipe_nutrition[phytochemical[0]]}}</span>
                                {{nutrient_units[phytochemical[0]]}}
                            </div>
                            <div class="col">
                                {{ progress_bar(phytochemical[0], total_recipe_user_rda_percent[phytochemical[0]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="p-2 my-2 bg-light">
                        <h5>Vitamins</h5>
                        {% for b_vitamin in [['B1', 'thiamin'], ['B2', 'riboflavin'], ['B3', 'niacin'], ['B5', 'pantothenic_acid'], ['B6', 'b6'], ['B12', 'b12'], ['Choline', 'choline'], ['Biotin', 'biotin'], ['Folate', 'folate'], 
                        ['Vitamin A', 'vit_a'], ['Vitamin C', 'vit_c'], ['Vitamin D', 'vit_d'], ['Vitamin E', 'vit_e'], ['Vitamin K', 'vit_k']]%}

                        {% if 0 <= total_recipe_user_rda_percent[b_vitamin[1]]|float < 50 %} 
                        {% set bar_colour = "bg-danger" %} 
                        {% elif 50 <= total_recipe_user_rda_percent[b_vitamin[1]] < 100 %} 
                        {% set bar_colour = "bg-warning" %} 
                        {% elif total_recipe_user_rda_percent[b_vitamin[1]] >= 100 %} 
                        {% set bar_colour = "bg-success" %} 
                        {% else %}
                        {% set bar_colour = "bg-secondary" %}
                        {% endif %}

                        <div class="row">
                            <div class="col-4">
                                {{b_vitamin[0]}}
                            </div>
                            <div class="col-2 small">
                                <span id="{{b_vitamin[1]}}-nutrientAmount">{{total_recipe_nutrition[b_vitamin[1]]}}</span>
                            </div>
                            <div class="col-1 small">
                                <span style="float: right">{{nutrient_units[b_vitamin[1]]}}</span>
                            </div>
                            <div class="col">
                                {{ progress_bar(b_vitamin[1], total_recipe_user_rda_percent[b_vitamin[1]], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="p-2 my-2 bg-light">
                        <h5>Minerals</h5>
                        {% for mineral in ['calcium', 'chlorine', 'chromium', 'copper', 'fluoride', 'iodine', 'iron', 'magnesium', 
                        'manganese', 'molybdenum', 'phosphorus', 'potassium', 'selenium', 'sodium', 'zinc' ]%}

                        {% if 0 <= total_recipe_user_rda_percent[mineral]|float < 50 %} 
                        {% set bar_colour = "bg-danger" %} 
                        {% elif 50 <= total_recipe_user_rda_percent[mineral] < 100 %} 
                        {% set bar_colour = "bg-warning" %} 
                        {% elif total_recipe_user_rda_percent[mineral] >= 100 %} 
                        {% set bar_colour = "bg-success" %} 
                        {% else %}
                        {% set bar_colour = "bg-secondary" %}
                        {% endif %}
                        <div class="row">
                            <div class="col-4" style="text-transform: capitalize;">
                                {{mineral}}
                            </div>
                            <div class="col-2 small">
                                <span id="{{mineral}}-nutrientAmount">{{total_recipe_nutrition[mineral]}}</span>
                            </div>
                            <div class="col-1 small">
                                <span style="float: right">{{nutrient_units[mineral]}}</span>
                            </div>
                            <div class="col">
                                {{ progress_bar(mineral, total_recipe_user_rda_percent[mineral], bar_colour) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<div class="flex progress-wrapper">
    <div class="progress">progress</div>
    <input type="range" value="75" min="0" max="100" step="1">
  </div>
  <div class="flex container">
{% endblock %}

{% block scripts %}
<script src='https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js'></script>
<script src="{{ url_for('static', filename='circle-progress-bar.js')}}"></script>
{% endblock %}