<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="'utf-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1"/>

        <!-- Bootstrap stylesheets -->
        <!-- <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous"
        /> -->

        <link
            rel="stylesheet"
            href="{{url_for('static', filename='styles/bootstrap.min.css')}}"
        />

        <link 
            rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />

        <!-- Sidebar stylesheets -->
        {% if user.is_authenticated %}
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css')}}"/>
        {% from 'logged-in/sidebar.html' import sidebar %}
        {% else %}
        {% endif %}
        
        <title>{% block title %}Home{% endblock %}</title>

        {% block inline_style %}
        {% endblock%}
    </head>
    <body>
        <div style="z-index: 200;">
            {% if user.is_authenticated %}
            {{ sidebar(user_name) }}
            {% else %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height: 80px;">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" id="productPage" href="/">Product page</a>
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                    </div>
                </div>
            </nav>
            {% endif %}
        </div>

        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
                    <span class="my-auto">{{ message }}</span>
                    <button class="btn my-auto mx-1" data-bs-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
                    <span class="my-auto">{{ message }}</span>
                    <button class="btn my-auto mx-1" data-bs-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        
            <main>
                <div class="m-3">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

        </div>

        <!-- JQuery -->
        <!-- <script src="{{url_for('static', filename='js/jquery-3.7.1.js')}}"></script> -->
         <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <!-- <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

        <!-- Global js script(s) -->
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js')}}"
        ></script>

        <!-- Sidebar js script(s) -->
        <script src="{{ url_for('static', filename='sidebar.js')}}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>