{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Create a recipe</h1>
<form method="POST">
    <div input-group mb-3>
        <label for="recipe-name" class="form-label">Name your recipe</label>
        <input name="recipe-name" id="recipe-name" type="text" class="form-control" placeholder="'My breakfast granola'" aria-label="Recipe name"></input>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-description" class="form-label">Describe your recipe</label>
        <textarea name="recipe-description" id="recipe-description" class="form-control" placeholder="'My favourite weekday fruit and yoghurt granola, goes well with my morning coffee'" aria-label="Recipe description"></textarea>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-dietary-restrictions" class="form-label">Dietary restrictions</label>
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-secondary" onclick="this.button('toggle')">
                <input name="recipe-dietary-restrictions" value="none" autocomplete="off" type="radio" checked> None 
            </label>
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="vegan" autocomplete="off" type="radio"> Vegan 
            </label> 
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="vegetarian" autocomplete="off" type="radio"> Vegetarian 
            </label> 
            <label class="btn btn-secondary">
                <input name="recipe-dietary-restrictions" value="pescatarian" autocomplete="off" type="radio"> Pescatarian 
            </label>
        </div>
    </div>
    
    <br/>
    <h3 align="center">Add ingredients</h3>
    <div class="input-group">
        <select class="form-select" id="ingredient" aria-label="Select ingredient">
            <option selected>Choose...</option>
            {% for food in foods %}
            <option id="{{food.id}}" value="{{food.name}}">{{food.name}}</option>
            {% endfor %}
        </select>
        <input type="button" value="&plus;" class="btn btn-outline-secondary" id="add_ingredient"/>
    </div>
    <ul name="recipe-ingredients" id="recipe-ingredients" class="list-group list-group-flush"></ul>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add recipe</button>
    </div>
</form>
{% endblock %}