{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Create a recipe</h1>
<form method="POST">
    <div input-group mb-3>
        <label for="recipe-name" class="form-label">Name your recipe</label>
        <input type="text" class="form-control" placeholder="'My breakfast granola'" aria-label="Recipe name" name="recipe-name" id="recipe-name"></input>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-description" class="form-label">Describe your recipe</label>
        <textarea class="form-control" placeholder="'My favourite weekday fruit and yoghurt granola, goes well with my morning coffee'" aria-label="Recipe description" name="recipe-description" id="recipe-description"></textarea>
    </div>
    <br/>
    <div input-group mb-3>
        <label for="recipe-description" class="form-label">Dietary restrictions</label>
        <div class="btn-group d-flex" role="group">
            <button class="btn btn-outline-secondary" type="button">None</button>  
            <button class="btn btn-outline-secondary" type="button">Vegan</button>
            <button class="btn btn-outline-secondary" type="button">Vegetarian</button>      
            <button class="btn btn-outline-secondary" type="button">Pescatarian</button>  
        </div>
    </div>
    <br/>
    <h3 align="center">Add ingredients</h3>
    <div class="input-group">
        <select class="form-select" id="ingredient" aria-label="Select ingredient">
            <option selected>Choose...</option>
            {% for food in foods %}
            <option value="{{food.name}}">{{food.name}}</option>
            {% endfor %}
        </select>
        <input type="button" value="&plus;" class="btn btn-outline-secondary" id="add_ingredient"/>
    </div>
    <ul class="list-group list-group-flush" id='ingredients_list'></ul>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add recipe</button>
    </div>
</form>
{% endblock %}