{% extends "base.html" %} {% block title %}Home{% endblock %}

{% from 'nutrient-targets.html' import nutrient_target_circular_progress %}

{% block inline_style %}
<script src="{{ url_for('static', filename='view-recipe.js')}}"></script>
{% endblock %}


{% block content %}
<h1 class="display-2 m-2">Dashboard</h1>

<div class="row my-4">
    <div class="col d-grid">
        <button type="button" class="btn btn-primary">
            Add to meal diary
        </button>
    </div>
    <div class="col d-grid">
        <button type="button" class="btn btn-primary p-2">View meal diary</button>
    </div>
    <div class="col d-grid">
        <button type="button" class="btn btn-primary">Add to meal diary</button>
    </div>
</div>

<div class="row">

        <div class="col-3">
            CALENDAR HERE?

            <div>
                <h1 class="display-6 m-2">Weekly statistics</h1>
            <div class="row py-3" style="border: 2px solid lightgray; border-radius: 15px;">
                <div class="col">
                    <div class="m-1 px-2" style="background-color: lightgrey;  border-radius: 10px;">
                        <p class="mx-2 pt-2">RDA Targets reached <span class="text-muted"> ~86% /day</span></p>
                        <canvas id="bigChart" style="max-height: 300px;"></canvas>
                    </div>
                </div>
                <div class="col">
                    <div class=" m-1 mt-2 px-2" style="background-color: lightgrey;  border-radius: 10px;">
                        <p class="mx-2 pt-2"> Fibre <span class="text-muted"> ~40g /day</span></p>
                        <canvas id="smallChart1" style="max-height: 150px;"></canvas>
                    </div>
                </div>
                <div class="col">
                    <div class="m-1 mt-2 px-2" style="background-color: lightgrey; border-radius: 10px;">
                        <p class="mx-2 pt-2"> Protein <span class="text-muted"> ~93g /day</span></p>
                        <canvas id="smallChart2" style="max-height: 150px;"></canvas>
                    </div>
                </div>
            </div>
            </div>

            

        </div>
        <div class="col">
            <p class="display-6 m-2">Sat 16 Nov 2024</p>
            <table id="ingredients-table" class="table table-striped" id="ingredients-table">
                <thead>
                    <th class="col-1" scope="col">Time</th>
                    <th class="col-5" scope="col">Description</th>
                    <th class="col-1" scope="col">Amount</th>
                    <th class="col-2" scope="col">Unit</th>
                    <th class="col-1" scope="col">Kcal</th>
                </thead>
                <tbody>

                    <tr class="fw-bold">
                        <td>8:00</td>
                        <td>Breakfast</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>My breakfast granola</td>
                        <td>1</td>
                        <td>serving (453g)</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Water</td>
                        <td>600</td>
                        <td>ml</td>
                        <td>0</td>
                    </tr>

                    <tr class="fw-bold">
                        <td>13:00</td>
                        <td>Lunch</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Lentil pasta salad</td>
                        <td>1</td>
                        <td>serving (500g)</td>
                        <td>590</td>
                    </tr>

                    <tr class="fw-bold">
                        <td>18:00</td>
                        <td>Dinner</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Sweet potato curry</td>
                        <td>1</td>
                        <td>serving (600g)</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pilau Rice</td>
                        <td>1</td>
                        <td>serving (125g)</td>
                        <td>195</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Garlic Naan bread</td>
                        <td>1</td>
                        <td>serving (90g)</td>
                        <td>200</td>
                    </tr>

                    <tr class="fw-bold">
                        <td></td>
                        <td>Snacks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tr>
                    <tr>
                        <td class="fw-bold">11:00</td>
                        <td>Granola bar</td>
                        <td>1</td>
                        <td>serving (453g)</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">19:00</td>
                        <td>Nutty pudding</td>
                        <td>1/2</td>
                        <td>serving (90g)</td>
                        <td>250</td>
                </tbody>
            </table>

            <div class="d-flex flex-row" style="border: 2px solid lightgray; justify-content: space-between; flex-wrap: wrap; border-radius: 15px;">

                <div class="justify-content-center d-flex col-12 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("TARGETS", "80", "#ba58c8")}}
                    </div>
                </div>
        
                <div class="justify-content-center d-flex col-6 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Potassium", "80", "#ffcf00")}}
                    </div>
                </div>
        
                <div class="justify-content-center d-flex col-6 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Fibre", "80", "#ffcf00")}}
                    </div>
                </div>
        
                <div class="justify-content-center d-flex col-6 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Iron", "80", "#ffcf00")}}
                    </div>
                </div>

                <div class="justify-content-center d-flex col-6 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Folate", "80", "#ffcf00")}}
                    </div>
                </div>

                <div class="justify-content-center d-flex col-6 col-md-3 col-lg-3 col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Folate", "80", "#ffcf00")}}
                    </div>
                </div>

                <div class="justify-content-center d-flex col-6 col-md-3 col-lg col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Folate", "80", "#ffcf00")}}
                    </div>
                </div>

                <div class="justify-content-center d-flex col-6 col-md-3 col-lg col-xxl">
                    <div class="my-2 position-relative">
                        {{nutrient_target_circular_progress("Folate", "80", "#ffcf00")}}
                    </div>
                </div>
            </div>

        </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='home.js')}}"></script>

<script src='https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js'></script>
<script src="{{ url_for('static', filename='circle-progress-bar.js')}}"></script>
{% endblock %}