{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block inline_style%}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css'>
{% endblock%}

{% block content %}
<h1 align="center">{{recipe.name}}</h1>
<h4 align="center">View recipe</h4>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3>Ingredients list</h3>
            <table class="table table-striped" id="ingredients-table">
                <thead>
                    <th scope="col">Amount (grams)</th>
                    <th scope="col">Ingredient</th>
                </thead>
                <tbody>
                    {% for ingredient in recipe_ingredients %}
                    <tr>
                        <td>{{toInteger(ingredient.amount)}}</td>
                        <td>{{ingredient.food_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Description</h3>
            <p>{{recipe.description}}</p>
        </div>
        <div class="col">
            <h3>Nutritional breakdown</h3>
            <div class="row justify-content-center d-flex"> <!-- 3 top macro nutrients -->
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3  justify-content-center d-flex height: 90%;">
                    <div class="my-4 position-relative">
                        <div class="justify-content-center d-flex position-absolute w-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                            <h5 class="fw-bold" style="line-height: 4em">Calories</h5>
                            <div style="position: absolute; top: 65%;">
                                <h4 class="fw-bold position-relative">{{food_total['energy']}}</h4>
                            </div>
                        </div>
                        <div class="container position-relative" style="display: flex; justify-content: center; height: 90%; ">
                            {% set macro_sum = namespace(value=0) %}
                            {% for macro_mini in [[90, 'red'], [180, 'blue'], [90, 'green']]%}
                            <div class="pie position-absolute" data-pie='{ "number": false, "speed": "120", "percent": "{{(macro_mini[0] - 2) / 3.6 }}", "inverse": "true", "textPosition": "20%", "fontWeight":"bold", "size":"120", "rotation": "{{macro_sum.value}}", "colorSlice":"{{macro_mini[1]}}", "colorCircle":"#FFFFFF00"}'></div>
                            <!-- if set "round": "true" also set  "percent": "{{(macro_mini[0] - 16) / 3.6 }}" -->
                            {% set macro_sum.value = macro_sum.value - macro_mini[0]%}
                            {% endfor%}
                        </div>
                    </div>
                </div>
                {% for macro in ['Fibre', 'Protein']%}
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-content-center d-flex height: 90%;">
                    <div class="my-4 position-relative">
                        <div class="justify-content-center d-flex position-absolute w-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                            <h5 class="fw-bold" style="line-height: 4em">{{macro}}</h5>
                        </div>
                        <div class="container position-relative" style="display: flex; justify-content: center; ">
                            <div class="pie" data-pie='{ "percent": 66, "speed": "120", "textPosition": "20%", "fontWeight":"bold", "size":"120", "rotation": "0", "inverse": "true", "colorSlice":"#ffcf00", "round":"true", "strokeBottom": 5, "colorCircle":"#f8f9fa" }'></div>

                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div> -->
            </div>

            <div class="row small">
                <div class="col">
                    <div class="p-2 my-2 bg-light">
                        <h5>Carbohydrates</h5>

                    <div class="row">
                        <div class="col-6">
                            Carbohydrates
                        </div>
                        <div class="col-2">
                            {{food_total['carbohydrate']}}{{nutrient_units['carbohydrate']}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% for carb in ['fibre', 'sugar']%}
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-5" style="text-transform: capitalize">
                            {{carb}}
                        </div>
                        <div class="col-2">
                            {{food_total[carb]}}{{nutrient_units[carb]}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="p-2 my-2 bg-light">
                    <h5>Lipids</h5>
                    <div class="row">
                        <div class="col-6">
                            Total fat
                        </div>
                        <div class="col-2">
                            {{food_total['fat']}}{{nutrient_units['fat']}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-5">
                            Mono
                        </div>
                        <div class="col-2">
                            {{food_total['mono']}}{{nutrient_units['mono']}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-5">
                            Poly
                        </div>
                        <div class="col-2">
                            {{food_total['poly']}}g
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% for poly_fats in [['Omega-3', 'n_3'],['Omega-6', 'n_6']]%}
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-4">
                            {{poly_fats[0]}}
                        </div>
                        <div class="col-2">
                            {{food_total[poly_fats[1]]}}{{nutrient_units[poly_fats[1]]}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-5">
                            Saturated
                        </div>
                        <div class="col-2">
                            {{food_total['satd']}}{{nutrient_units['satd']}}
                        </div>
                        <div class="col-4">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-5">
                            Cholesterol
                        </div>
                        <div class="col-2">
                            {{food_total['cholesterol']}}{{nutrient_units['cholesterol']}}
                        </div>
                        <div class="col-4">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2 my-2 bg-light">
                    <h5>Protein</h5>
                    <div class="row">
                        <div class="col-6">
                            Protein
                        </div>
                        <div class="col-2">
                            {{food_total['protein']}}{{nutrient_units['protein']}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2 my-2 bg-light">
                    <h5>Essential amino acids</h5>
                    {% for amino in ['phenylalanine', 'valine', 'threonine', 'tryptophan', 'methionine', 'leucine', 
                                    'isoleucine', 'lysine', 'histidine']%}
                    <div class="row">
                        <div class="col-6" style="text-transform: capitalize;">
                            {{amino}}
                        </div>
                        <div class="col-2">
                            {{food_total[amino]}}{{nutrient_units[amino]}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="p-2 my-2 bg-light">
                    <h5>Phytochemicals</h5>
                    {% for phytochemical in ['lypocene', 'lutein and zeaxanthin', 'quarcetin', 'flavonoids', 'resveratrol', 'myricetin']%}
                    <div class="row">
                        <div class="col-6" style="text-transform: capitalize;">
                            {{phytochemical}}
                        </div>
                        <div class="col-2">
                            {{food_total[phytochemical]}}{{nutrient_units[phytochemical]}}
                        </div>
                        <div class="col">
                            <div class="progress position-relative" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
                <div class="col">
                    <div class="p-2 my-2 bg-light">
                        <h5>Vitamins</h5>
                        {% for b_vitamin in [['B1', 'b1'], ['B2', 'b2'], ['B3', 'b3'], ['B5', 'b5'], ['B6', 'b6'], ['B12', 'b12'], ['Choline', 'choline'], ['Folate', 'folate'], ['Pantothenate', 'pantothenate'], 
                                            ['Vitamin A', 'a'], ['Vitamin C', 'c'], ['Vitamin D', 'd'], ['Vitamin E', 'e'], ['Vitamin K', 'k']]%}
                        <div class="row">
                            <div class="col-6">
                                {{b_vitamin[0]}}
                            </div>
                            <div class="col-2">
                                {{food_total[b_vitamin[1]]}}{{nutrient_units[b_vitamin[1]]}}
                            </div>
                            <div class="col">
                                <div class="progress position-relative" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="p-2 my-2 bg-light">
                        <h5>Minerals</h5>
                        {% for mineral in ['calcium', 'chloride', 'chromium', 'copper', 'fluoride', 'iodine', 'iron', 'magnesium', 
                                            'manganese', 'molybdenum', 'phosphorus', 'potassium', 'selenium', 'sodium', 'zinc' ]%}
                        <div class="row">
                            <div class="col-6" style="text-transform: capitalize;">
                                {{mineral}}
                            </div>
                            <div class="col-2">
                                {{food_total[mineral]}}{{nutrient_units[mineral]}}
                            </div>
                            <div class="col">
                                <div class="progress position-relative" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    <small class="justify-content-center d-flex position-absolute w-100">20%</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex progress-wrapper">
    <div class="progress">progress</div>
    <input type="range" value="75" min="0" max="100" step="1">
  </div>
  <div class="flex container">
{% endblock %}

{% block scripts %}
<script src='https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js'></script>
<script src="{{ url_for('static', filename='circle-progress-bar.js')}}"></script>
{% endblock %}